body {
  margin: 0;
}

.left-side {
  width: 30%;
  height: 100vh;
  background-image: url(./assets/plantImg.avif);
}

.odin-background {
  position: absolute;
  top: 200px;
  width: 30%;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.5);
}

.odin {
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  color: white;
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.odin p {
  margin: 0;
}

.odin-logo {
  width: 70px;
  height: 100px;
}

/* END LEFT
START RIGHT */

.right-side {
  position: absolute;
  top: 0;
  left: 30%;
  width: calc(70% - 3rem);
  height: 100vh;
  padding-left: 3rem;
  padding-top: 10rem;
}

.flex-container-right {
  display: flex;
  flex-direction: column;
}

.top-text {
  font-size: 20px;
  font-weight: 500;
  width: 60%;
}

label {
  font-size: 12px;
  padding-bottom: 0.1rem;
}

input {
  margin-bottom: 1rem;
}

.inside-form {
  display: flex;
  padding-bottom: 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 100px 1px 20px 0px;
}

.field-right {
  display: flex;
  flex-direction: column;
  border: none;
  padding-left: 5rem;
}

.field-left {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 0 0 -3rem;
  margin: 0;
}

.right-label-pad-down {
  padding-top: 3.37rem;
}

.button-div {
  padding-top: 3rem;
}

button {
  width: 200px;
  height: 50px;
  background-color: #596d48;
  border: none;
  border-radius: 5%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 20px;
  color: white;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

a {
  color: #596d48;
  text-decoration: none;
}
